<div class="single-doctor">
  <div class="container">
    <div class="doctor-imgname">
      <div class="row">
        <div class="offset-md-4"></div>
        <div class="col-md-4">
          <div class="img-name">
            <img src="../../assets/imgs/favorite.png" alt="" />
            <h4>khloud Rammah</h4>
            <p>Dintest</p>
            <ul>
              <li><i class="fas fa-star" style="font-size: 12px;"></i></li>
              <li><i class="fas fa-star" style="font-size: 12px;"></i></li>
              <li><i class="fas fa-star" style="font-size: 12px;"></i></li>
              <li><i class="fas fa-star" style="font-size: 12px;"></i></li>
              <li><i class="fas fa-star" style="font-size: 12px;"></i></li>
            </ul>
            <span>(5 rates)</span>
          </div>
        </div>
        <div class="offset-md-4"></div>
      </div>
    </div>

    <div class="doctor-information">
      <div class="row">
        <div class="col-md-8">
          <div class="info-data">
            <h4>intro</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
              enim, perspiciatis excepturi dolore quasi impedit quos neque
              aliquid, sequi delectus tempora aspernatur rerum expedita
              distinctio iusto totam velit veritatis dignissimos?
            </p>

            <h4>about</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              laborum id accusamus odio, dolor assumenda minus sapiente ducimus
              saepe nobis accusantium qui, aliquid vel possimus et suscipit
              magni debitis. Ipsum.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info-contact">
            <div class="info-contact-head">
              <h3>Booking Information</h3>
              <p>
                <i class="fas fa-mobile" style="font-size: 20px;"></i>
                01062599981
              </p>
              <i class="fas fa-map-marker-alt" style="font-size: 14px;"></i>
              <!-- Button trigger modal -->
              <a data-toggle="modal" data-target="#staticBackdrop">
                63285 Gayle Trafficway Bonitachester, ME 435
              </a>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>

            <div class="doctor-appointment">
              <div class="row">
                <h4>Choose your appointment</h4>
                <div class="col-md-6">
                  <div class="details">
                    <h6>wedensday</h6>
                    <p>1111111111</p>
                    <button class="btn btn-primary">Book Now</button>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
